.main {
    display: flex;
}
.left {
    width: 255px;
    min-height: calc(100vh - 8vh - 1px);
    border-right: 1px solid #efefef;
    overflow: auto;
}
.right {
    padding: 20px;
}
/* 查询栏统一样式 */
.search-module {
    border-bottom: 1px solid #efefef;
}
.search-line {
    display: flex;
    flex-wrap: wrap;
}
.search-item {
    padding: 6px 0;
    display: flex;
    align-items: center;
}
.search-item >span {
    margin-right: 10px;
    text-align: right;
    min-width: 120px;
}
.select-input {
    width: 196px;
}
.search-btn-line {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.search-btn-line >button {
    margin: 0 4px;
}
/* ----- */

/* 弹框底部 */
.modal-footer {
    text-align: center;
}
.modal-footer >button {
    margin: 0 4px;
}
/* ----- */

/* 表单行 */
.form-row {
    display: flex;
    justify-content: space-between;
}
/**/

/* antd样式覆盖 */
.ant-tabs-tab-remove {
    margin-right: -12px !important;
    margin-left: 0px !important;
}
.ant-tabs-nav .ant-tabs-tab {
    padding: 2px 16px !important;
}
