.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100vw;
    border-bottom: 1px solid #efefef;
    background-color: #0050b3;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}
.header-right {
    margin-right: 20px;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}
