.top {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vw;
    border-bottom: 1px solid #efefef;
    background-color: #0050b3;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}
