@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
a {
  font-weight: 500;
  color: #f09c39;
  text-decoration: inherit;
}
a:hover {
  color: #f09c39;
}

body {
  margin: 0;
  font-family: 'PingFang SC', 'Nunito Sans', BlinkMacSystemFont, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;
}
